

.replies-trash-icon {
    background-color: transparent;

    margin: 0;
    padding: 0;
}

.replies-trash-icon-box {
    background-color: transparent;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: flex-end;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

.comments-list__item-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments-list-item-titles {
    display: flex;
    background-color: transparent;
    align-items: center;
    margin-left: 10px;
}
