h1, p, a {
    font-weight:400;
    font-style:normal;
    font-family:Courier New;
}

.wff-container {
    display: flex;

}

.wff-lights {
    background-color: transparent;
    position: relative;
    top: -45px;
    right: 0;
}

.wff-lights, .wff-theFool {
    background-color: transparent;
    opacity: 1;
}

.wff-lights img {
    z-index: 0 !important;
    background-color: transparent;
    width: 320px;
    height: 349px;
}

.wff-images-container {
    width: 25%;
}

.wff-theFool img{
    padding-top: 400px;
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 5px;
}

.wff-info-container {
    width: 70%;
    height: auto;
    padding-bottom: 200px;
}

.wff-title-box {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wff-info-box {
    width: 100%;
    margin-top: 80px;
    margin-left: 150px;
}

.wff-info-text-box {
    width: 70%;
}

.wff-info-title {
    position: relative;
    z-index: 4;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 60px;
    color: white;
    font-size: 55px;
background-color: transparent;
}


.wff-info-text {
    font-size: 23px;
    color: white;
    text-align: justify-all;
}

.wff-kofi-page__link {
    color: #800000;
}

.wff-kofi-page__link:hover {
    color: #BD1111;
}

.wff-eye img{
    position: relative;
    left: 0;
    top: -10px;
    width: 90px;
    height: 60px;
}

@media (max-width: 768px) {

    .wff-container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .wff-info-container {
        margin: 0;
        padding: 0;
        margin-top: 300px;
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wff-info-box {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .wff-title-box {
        margin: 0 0 50px 0;
        padding: 0;
        display: flex;
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .wff-info-title {
        color: #9b1010;
        margin: 0;
        padding: 0 0 0 20px;
        height: fit-content;
        word-wrap: break-word; /* перенос слов */
        overflow-wrap: break-word; /* альтернатива */
        max-width: 60vw;
        font-size: 28px;
        font-weight: bold;
    }

    .test {
        height: auto;
        width: auto;
    }

    .wff-theFool {
        display: none;
    }

    .wff-images-container {
        display: block;
        margin-bottom: 200px;
        width: 0;
    }

    .wff-images-container img {
        position: relative;
        width: 250px;
        height: 280px;
        right: 20%;
    }

    .wff-lights {
        display: flex;
        position: absolute;
        top: -45px;
        right: 0;
        /*margin-bottom: 200px;*/
    }

    .wff-info-text-box {
        width: 90%;
        margin: 0;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .wff-info-text {
font-size: 26px;
    }
}