@media (max-width: 767px) {

    .authorization-popup-send-button-box {
        width: 90%;
    }

    .authorization-popup-buttons-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .content-container {
        background-color: white;
        height: auto;
        flex-direction: column;
        width: 100%;
    }

    .header-box {
        height: 300px;
    }

    .header-image-box {
        position: absolute;
        top: -60px;
        left: 10%;
        text-align: center;
    }

    .header-image-box img {
        width: 250px;
        height: 280px;
    }

    .blog-container {
        width: 100%;
        height: 400px;
        flex-direction: column;
        border: none;
    }

    .mySwiper {
        width: 99%;
        height: 400px;
        margin: 0 auto;
        background-color: #6E0303;
    }

    .slider, .slide-content, .slide-content img {
        height: 400px;
    }

    .slide-content img {
        width: 100%;
        object-fit: cover;
    }

    .letters img,
    .projectIdea img {
        max-width: 100%;
    }

    .blog-quote-box {
        margin: 0 auto;
        position: relative;
        width: 80%;
        height: auto;
        background-color: transparent;
        top: 20px;
        left: 12px;
    }

    /*.blog-quote-box {*/
    /*    width: 95%;*/
    /*    height: fit-content;*/
    /*    margin: 0 auto;*/
    /*    !*padding: 10px;*!*/
    /*    background-color: transparent;*/
    /*    margin-bottom: 200px;*/
    /*}*/

    /*.test {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/

    /*    position: absolute;*/
    /*    right: 10px;*/
    /*    margin-top: 350%;*/
    /*    background-color: transparent;*/

    /*}*/

    .projectIdea {
        padding-top: 0;
        /*position: absolute;*/
    }

    .letters { order: 1; }   /* буквы слева в ряду */
    .header-image-box { order: 2; }  /* фонарики идут первыми */
    .blog-box        { order: 3; }   /* карусель по центру после букв */
    .project-idea    { order: 4; }   /* personNotAd справа в ряду */

}